body {
    margin: 0;
}

.cont {
    width: 1000px;
    margin: 0 auto;
}

.tabs-header {
    display: flex;
}

.tab {
    border: 5px solid #000;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0;
}

.tab:hover {
    background-color: #ccc;
}

.tab.active {
    background-color: rgb(249, 102, 102);
}

.tab + .tab {
    margin-left: 10px;
}

.tab-panel {
    border: 5px solid #000;
    display: none;
    padding: 10px;
}

.tab-panel.active {
    display: block;
}