* {
  margin: 0;
  outline: none !important;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  flex-direction: column;
}

input {
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid #b0e086;
  box-shadow: 0 1px 5px rgba(10, 70, 10, 0.2);
  transition: all .3s ease;
}
input:focus {
  border: 1px solid #97b46c;
}

.autocomplete-wrap {
  position: relative;
  width: 300px;
}

.autocomplete-input {
  width: 100%;
}

.autocomplete-list {

  position: absolute;
  top: 100%;
  border: 1px solid #97b46c;
  width: 100%;
  display: none;
  z-index: 9999;
  max-height: 400px;
  overflow-y: auto;

}

.autocomplete-wrap.active .autocomplete-list {
  display: block;
  border-radius: 0 0 3px 3px;
}

.autocomplete-item {
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all .3s ease;
}
.autocomplete-item:hover, .autocomplete-item.focused {
  background: #eee;
}

.autocomplete-wrap.active .autocomplete-input {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid transparent;
}